body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.containerIndex {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.darken {
    color: #ff0000;
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 100vh;
    align-items: center;
    justify-items: center;
    font-size: 40px;
    font-weight: 700;
    background-color: rgba(0, 0, 0, 0.5);
}

.message {
    text-shadow: 2px 2px 5px #161616;
    font-size: 72px;
    margin-top: -75px;
    color: white;
}

.message:hover {
    color: white;
}

.content {
    display: grid;
    grid-template-columns: 1fr;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    color: #404040;
    font-size: 16px;
}

.section {
    padding: 20px;
}

.sectiontitle {
    font-size: 24px;
    font-weight: 500;
}

.sectionbody {
    margin-top: 30px;
    font-weight: 200;
    line-height: 24px;
}

.image {
    width: 400px;
    padding-top: 20px;
}

.imageDesktop {
    width: 400px;
    padding-top: 20px;
}

.imageMobile {
    width: 100%;
    padding-top: 20px;
}

.infoRow {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media only screen and (min-width: 601px) {
    .imageMobile {
        display: none;
    }
    .infoRow {
        display: grid;
        grid-template-columns: 1fr 1fr;
        ;
    }
}

@media only screen and (max-width: 600px) {
    .message {
        font-size: 28px;
    }
    .content {
        width: 100%;
        grid-template-columns: 1fr;
    }
    .image {
        width: 100%;
    }
    .imageDesktop {
        display: none;
    }
    .infoRow {
        display: grid;
        grid-template-columns: 1fr;
    }
}

a {
    text-decoration: none;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: red;
}

a:focus {
    outline: 1px solid blue;
}

a:active {
    color: yellow;
}

.menu {
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    padding-left: 20px;
    padding-top: 10px;
}

.menuItem {
    height: 40px;
    font-size: 20px;
    font-weight: 500;
    display: inline-block;
}